<div>
  <ul>
    <% @games.each do |game| %>
      <% game = DescriptiveGame.new(game) %>
      <li>
        <%= link_to "#{game.stage_message(user: current_user)}", game %>
      </li>
    <% end %>
  </ul>
</div>