<div>
  <h3>Players:</h3>
  
  <ul>
    <% @game_presented.players.each do |joined_player| %>
      <li class='player-name'>
        <%= joined_player.user.name %>
      </li class='player-name'>
    <% end %>
  </ul>
</div>