<%= form_tag [@game, @player], id: 'player-answer', method: :put do %>
  <%= render partial: 'nonograms/interactive', locals: {nonogram: @player_answer, size: @size, draw_clues: true} %>
  <%= hidden_field_tag 'type', 'check' %>
  <%= submit_tag 'Check Answer' %>
  <button id="give-up" type="button">Give up</button>
<% end %>