<div>
  <%= form_tag start_game_path(@game) do %>
    <%= text_field_tag :size, '', required: true, placeholder: 'Enter a nonogram size', title: 'Size can be 5, 10, 15, or 20' %>
    <%= submit_tag 'start game' %>
  <% end %>
</div>