<div>
<h5>Top 3 players for this puzzle:</h5>

  <ul>
    <% nonogram.top_players(3).each do |player_and_time| %>
      <li class='player-name'>
        <%= player_and_time %>
      </li>
    <% end %>
  </ul>
</div>