<div>
<h5>Top 3 players for this puzzle:</h5>

  <ul>
    <% nonogram.top_players(3).each do |user, time| %>
      <li class='player-name'>
        <%= link_to(user.name, user) %> in <%= time %>
      </li>
    <% end %>
  </ul>
</div>