<div class="card center no-select">
	<template id="game" data-game-id="<%= @game_presented.id %>"></template>
	<template id="game-play"></template>

  <%= @game_presented.title %>

  <div class='pad-in' align='center'>
    <%= render 'nonogram_game' %>
  </div>
</div>
