<h1> game already started </h1>

<span>You are not a player in this game, You can join in now (at a disadvantage), or you can start your own</span>

<%= render 'join_game_form' %>

<%= render 'new_game_form' %>