<div class="card center">
  <div class='heading'><h1> Game already started </h1></div>

  <div class='pad-in'>
    <p>You are not a player in this game, You can join in now if you like, but you might be at a disadvantage</p>

    <%= render 'join_game_form' %>
  </div>
</div>
