<div class="card">
	<template id="game" data-game-id="<%= @game_presented.id %>"></template>
	<template id="game-play"></template>

	<h1> <%= @game_presented.nonogram.hint %> </h1>

	<%= render 'nonogram_game' %>

	<%= link_to_main %>

</div>