<h1> game already started </h1>

You are not a player in this game, Maybe you can start your own?

<div>
  <%= form_for Game.new do |f| %>
    <%= f.submit "New Game" %>
  <% end %>
</div>

<div>  
  <%= link_to "Back to index", Game %>
</div>