<div class="card center">

	<template id="game" data-game-id="<%= @game_presented.id %>"></template>
	<template id="gave-up"></template>

	<div class='heading'><h1>Waiting for the game to finish</h1></div>
  <div class='pad-in'>
	 <span> You will be taken to the end game screen when the game has finished</span>
  </div>

</div>
