<div class="card">

	<template id="game" data-game-id="<%= @game_presented.id %>"></template>
	<template id="gave-up"></template>

	<h1>Waiting for the game to finish</h1>
	<span> You will be taken to the end game screen when the game has finished</span>

</div>