<div class='card'>
  <div class='heading'><h1>How to Play</h1></div>

  <div class="padded">
    <h2>Playing a Game</h2>
    <div>
      <p>The buttons will sort the games for you by: games you have created, games you have joined, and games that are available for you to join.</p>
      <p>Click on a game to be taken to it. From there you can join the game.</p>
      <p>Once joined, you have to wait for the host to start the game.</p>
      <p>First one to complete the puzzle wins</p>
      <p>You can also create your own game, where you can choose a nonogram to solve, or let the game pick a random one for you.</p>
      <p>If you ever get lost, clicking the title will take you back you the main page</p>
    </div>

    <h2>Solving a Puzzle</h2>
    <div>
      <p>A nonogram is a grid of tiles that make up a pattern or picture. Using the clues provided you can attempt to solve the puzzle to reveal the picture. The left clicking places coloured squares and right clicking places grey squares. Click and drag to place multiple sqaures faster.</p>
      <p>Note: Most puzzles should be solvable using logic, however some users may have made puzzles that are not. If this is the case you can continue to solve the puzzle using some guesswork, or use the give up button.</p> 
      
      <div align='center'>
        <h5>A completed Nonogram</h5>
        <%= image_tag 'nonogram.png' %>
      </div>
      
      <p>The clues show you how many 'runs' of coloured squares there are in that line. A run is a consecutive series of coloured squares. There can be multiple runs on a line seperated by one or more blank squares. This will be shown with the line having multiple clues, which are given in order.</p>
      
      <div align='center'>
        <h5>Solving clues</h5>
        <%= image_tag 'multi_clues.png' %>
      </div>
      
      <p>Use the grey squares as placeholders for squares that cannot possilby be a coloured square. They are not needed for submitting your answer, but they may be helpful for you to solve the Nonogram</p>
      
      <div align='center'>
        <h5>Using greys</h5>
        <%= image_tag 'greys.png' %>
      </div>
      
      <p>Clues will grey out when they are solved. Note that in order for a clue to detect that it is solved, it will need to be surrouneded by grey squares. Also note that although a clue is marked as solved, the run it pertains to may not be in the correct place in the puzzle.</p>
    </div>

    <h2>Creating a Puzzle</h2>
    <div>
      <p>You can create your own nonogram for other players to solve. The game will automatically figure out the clues for you, all you need to do is draw it! Once your masterpiece is complete, choose a colour, add the name and a cryptic hint (hints are more fun if they only make sense once the puzzle is solved). Save the nonogram when ready. Your nonogram will be available to play when starting a new game.</p>
    </div>
  </div>
</div>