<template id="games"></template>

<div class="card" id="new-nonogram-card">
	<%= render partial: 'nonograms/new_nonogram_form' %>
</div>

<div class="card">
	<div class="heading">
		<h1>Games</h1>
		<%= render partial: 'new_game_form' %>
	</div>

	<div id='games-list' class='pad-out'><%= render 'game_list' %></div>
</div>
