<template id="games"></template>

<h1> Gizames </h1>

<%= render partial: 'new_game_form' %>

<div id='games_list'><%= render 'game_list' %></div>

<%= render partial: 'nonograms/new_nonogram_form' %>