<h1> games index </h1>

<div>
  <%= form_for Game.new do |f| %>
    <%= f.text_field :size, required: true, placeholder: "Enter a nonogram size", title: "Size can be 5, 10, 15, or 20", disabled: false %>
    <%= f.submit "New Game" %>
  <% end %>
</div>

<div>
  <ul>
    <% @games.each do |game| %>
      <li>
        <%= link_to game_status(game), game %>
      </li>
    <% end %>
  </ul>
</div>