<template id="games"></template>

<h2> Games </h2>

<%= render partial: 'nonograms/new_nonogram_form' %>

<%= render partial: 'new_game_form' %>

<div id='games-list' class='pad-out'><%= render 'game_list' %></div>