<h2> Games </h2>

<div>
  <%= form_for Game.new do |f| %>
    <%= f.submit "New Game" %>
  <% end %>
</div>

<div>
  <ul>
    <% @games.each do |game| %>
      <li>
        <%= link_to stage_message(game: game), game %>
      </li>
    <% end %>
  </ul>
</div>