<h1> game lobby </h1>

<div>
  Joined Players:
  <ul>
    <% @game.players.each do |joined_player| %>
      <li>
        <%= joined_player.user.display_name %>
      </li>
    <% end %>
  </ul>
</div>

<div>
  <%= ready_to_play_message(@game) %>
</div>

<%= join_game_form(game: @game, player: @player) %>

<div>  
  <%= link_to "Back to index", Game %>
</div>