<h1> game#show! </h1>

<div>
  Players:
  <ul>
    <% @players.each do |joined_player| %>
      <li>
        <%= joined_player.user.name %>
      </li>
    <% end %>
  </ul>
</div>

<div>
  <%= form_for [@game, Player.new] do |f| %>
    <%= f.submit "join game" %>
  <% end %>
</div>

<div>  
  <%= link_to "Back to index", Game %>
</div>