<%= render_submissions_over_template(game: @game) %>

<%= content_tag(:h4, "Other player's attempts for this game:") unless @player_grids.length == 0 %>

<% @player_grids.each do |player_name, grid| %>
  <div align="center">
    <%= content_tag(:h5, player_name) %>

    <%= render_answer(grid: grid, game: @game) %>
  </div>
<% end %>