<%= nonogram_color_template(nonogram) %>

<table id="nonogram-display" align="center" >
  <% size.times do |row| %>
    <tr>
      <% size.times do |column| %>
        <%= content_tag(:td, '', class: presentable_cell_class(row_num: row, column_num: column, nonogram_grid: nonogram_grid)) %>
      <% end %>
    </tr>
  <% end %>
</table>