<table id="nonogram-display" align="center" >
  <% size.times do |row| %>
    <tr>
      <% size.times do |column| %>
        <%= content_tag(:td, '', class: presentable_cell_class(row: row, column: column, nonogram: nonogram)) %>
      <% end %>
    </tr>
  <% end %>
</table>