<%= form_tag new_nonogram_path, method: :get do %>
  <h1>Create your own</h1>

  <div id="dd" class="wrapper-dropdown-2">Select a size
  	<ul class="dropdown">
      <% Nonogram::VALID_SIZES.each do |size| %>

    		<li><a href= <%= new_nonogram_path(size: size) %> ><i class="icon-facebook icon-large"></i><%= "#{size} x #{size}" %></a></li>

      <% end %>
  	</ul>
	</div>
<% end %>