<div class="new-nonogram-form">
  <%= content_tag(:h4, 'Create your own Nonogram!') %>

  <%= form_tag new_nonogram_path, method: :get do %>
    <%= render partial: 'nonograms/size_dropdown' %>
    <%= submit_tag 'Create Nonogram' %>
  <% end %>
</div>