/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: Questrial;
  background-color: #ededed;
  margin: 0px;
 }

ul {
  padding-left: 0;
  list-style: none;
}

input {
  -webkit-user-select: text;
}

*
{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

.alert {
  color: red;
  text-align: center;
}

.alert-success {
  color: green;
}

.small-text {
  font-size: 15px
}

.mini-form {
  width: 50%;
  margin: 10px;
  padding: 2px;
  display: inline-block;
  border-radius: 4px;
  border: 2px solid #cccccc;
}

.page-container {
  text-align: center;
  margin: 10px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.page-content {
  position: relative;
}