// ------------ Google - Material Design Colors -------

$blue:     #2196F3;
$blue_50:  #E3F2FD;
$blue_100: #BBDEFB;
$blue_200: #90CAF9;
$blue_300: #64B5F6;
$blue_400: #42A5F5;

$light_green:     #8BC34A;
$light_green_50:  #E8F5E9;
$light_green_100: #C8E6C9;
$light_green_200: #A5D6A7;
$light_green_300: #81C784;
$light_green_400: #66BB6A;

$grey_50:  #ffffff;
$grey_100: #bfbfbf;
$grey_200: #7f7f7f;
$grey_300: #3f3f3f;
$grey_400: #000000;

// ------------ Application Colors --------------------

$primary_color:     $blue;
$primary_color_50:  $blue_50;
$primary_color_100: $blue_100;
$primary_color_200: $blue_200;
$primary_color_300: $blue_300;
$primary_color_400: $blue_400;

$secondary_color:     $light_green;
$secondary_color_50:  $light_green_50;
$secondary_color_100: $light_green_100;
$secondary_color_200: $light_green_200;
$secondary_color_300: $light_green_300;
$secondary_color_400: $light_green_400;

$neutral_color_50:  $grey_50;
$neutral_color_100: $grey_100;
$neutral_color_200: $grey_200;
$neutral_color_300: $grey_300;
$neutral_color_400: $grey_400;