@import 'colors';

#main-card {
  padding-right: 350px;
}

#new-nonogram-card {
  width: 300px;
  position: absolute;
  right: 50px;
  top: 100px;

  h1 {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: $neutral_color_100;

    padding: 0 0 10px 0;
    margin: 0 0 15px 0;
    width: 100%;

    font-family: Questrial;
    font-size: 30px;
  }

  select {
    float: left;
    padding: 0px 10px 2.5px 10px;
  }

  .contents {
    width: 60%;
    margin: 0 auto;
  }

  input[type=submit] {
    float: right;
    padding: 0px 10px 2.5px 10px;
    background-color: $primary_color_400;
    color: $neutral_color_50;

    font-size: 34px;
    font-family: Questrial;
    border: none;

    border-radius: 2px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  }

  input[type=submit]:hover {
    background-color: $secondary_color_200;
  }

  input[type=submit]:active {
    background-color: $secondary_color_400;
  }
}

.player-name {
  color: grey;
  font-weight: bold;
}

.pad-in {
  padding: 5px 15px;
}

.game-filters {
  width: 100%;
  margin: 10px auto;
  padding: 0;
  background-color: $primary_color_400;

  form.button_to {
    width: 33%;
    display: inline-block;
    margin: 0;

    div {
      width: 100%;
      margin: 0;
    }
  }

  .highlighted {
    background-color: $secondary_color_200;
  }

  .unhighlighted {
    background-color: $primary_color_300;
  }

  input[type=submit] {
    font-size: 16px;
    font-family: Questrial;
    border: none;

    color: $neutral_color_50;
    text-transform: uppercase;
    width: 100%;
    padding: 10px 0px;
  }

  input[type=submit]:hover {
    background-color: $secondary_color_200;
    cursor: pointer;
  }

  input[type=submit]:active {
    background-color: $secondary_color_400;
  }
}

.games-list {
  margin: 0 0 0 10px;

  h3 {
    text-align: center;
  }

  li {
    margin: 0 auto;
    width: 60%;
    text-align: center;
    background-color: $neutral_color_100;
  }

  a {
    display: block;
    padding: 10px 5px;
    font-size: 15px;
    text-decoration: none;
    color: $neutral_color_50;
    height: 100%;
  }

  li:hover {
    background-color: $neutral_color_200;
  }

  li:active {
    background-color: $neutral_color_300;
  }
}

.card {
  background-color: #fff;
  width: 700px;
  margin: 30px auto 0 auto;
  padding: 15px;

  border-width: 0px;
  border-radius: 2px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);

  h1 {
    color: $neutral_color_300;
    margin: 0;

    font-family: Questrial;
    font-size: 34px;

    display: inline-block;
    width: 85%;
  }

  h2 {
    text-align: center;
    font-size: 20px;
    color: $neutral_color_300;
  }

  .heading {
    padding: 0 0 5px 0;
    margin-bottom: 15px;

    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: $neutral_color_100;
  }

  .new-game-button {
    display: inline-block;

    input[type=submit] {
      padding: 2px 10px 2px 10px;
      background-color: $primary_color_400;
      color: $neutral_color_50;

      font-size: 20px;
      font-family: Questrial;
      border: none;
      background-color: none;

      border-radius: 2px;
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    }

    input[type=submit]:hover {
      background-color: $secondary_color_200;
      cursor: pointer;
    }

    input[type=submit]:active {
      background-color: $secondary_color_400;
    }
  }
}

.pad-out {
  padding: 10px;
}

.new-nonogram {
  width: 20%;
  display: inline-block;
  margin: 0 auto;

  .small-text {

    text-transform: uppercase;
  }
}

.wrapper-dropdown-2 {
    /* Size and position */
    position: relative; /* Enable absolute positioning for children and pseudo elements */
    width: 200px;
    margin: 0 auto;
    padding: 10px 15px;

    /* Styles */
    background: #fff;
    border-left: 5px solid grey;
    cursor: pointer;
    outline: none;
}

.wrapper-dropdown-2:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: grey transparent;
}

.wrapper-dropdown-2 .dropdown {
  /* Size & position */
    position: absolute;
    // top: 100%;
    left: -5px;
    right: 0px;

    /* Styles */
    background: white;
    transition: all 0.3s ease-out;
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown-2 .dropdown li a {
    display: block;
    text-decoration: none;
    color: #333;
    border-left: 5px solid;
    padding: 10px;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-2 .dropdown li:nth-child(1) a {
    border-left-color: #00ACED;
}

.wrapper-dropdown-2 .dropdown li:nth-child(2) a {
    border-left-color: #4183C4;
}

.wrapper-dropdown-2 .dropdown li:nth-child(3) a {
    border-left-color: #3B5998;
}

.wrapper-dropdown-2 .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

/* Hover state */

.wrapper-dropdown-2 .dropdown li:hover a {
    color: grey;
}

.wrapper-dropdown-2.active:after {
    border-width: 0 6px 6px 6px;
}

.wrapper-dropdown-2.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}

@media (max-width : 1100px) {
  .card {
    min-width: 700px;
  }

  #main-card {
    margin: 0 auto;
  }

  #new-nonogram-card {
    position: static;
    margin: 0 auto;
  }
}
