@import 'colors';

.navbar {
  height: 70px;
  background-color: $primary_color_300;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);

  .login-details {
    position: absolute;
    height: 70px;
    right: 0;

    .name {
      color: #fff;
      font-size: 16px;
      position: absolute;
      right: 130px;
      top: 17px;
      width: 100px;

      strong {
        text-transform: uppercase;
        font-size: 18px;
      }
    }

    .options {
      position: absolute;
      right: 0;
      top: 0;
      width: 120px;


      div {
        position: absolute;
        height: 34px;
        width: 120px;
        margin: 0;
      }

      a {
        position: absolute;

        text-transform: uppercase;
        color: #fff;
        background-color: $primary_color_400;
        padding: 10px;
        width: 120px;
      }

      a:hover {
        background-color: $secondary_color_200;
      }

      a:active {
        background-color: $secondary_color_400;
      }

      .edit {
        position: absolute;
        top: 0;
      }

      .logout {
        position: absolute;
        top: 34px;
      }
    }
  }

  .title {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translate(-50%);
    text-decoration: none;


    font-family: Arvo;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }

  .link {
    text-decoration: none;
  }
}