// Place all the styles related to the nonograms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';

#nonogram {
  border-collapse: collapse;
  border: 3px solid #666666;
}

#nonogram-display {
  border-collapse: collapse;
}

#color-picker {
	width: 335px;
	margin: 10px auto;
}

.color-circle {
  width: 30px;
  height: 50px;
  display: inline-block;
}

.completed-clue {
  font-weight: lighter;
  font-style: italic;
  color: #666666 !important;
}

.column-clue {
  background-color: #f2f2f2;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.row-clue {
  background-color: #f2f2f2;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.cell {
  width: 20px;
  height: 20px;
}

.game-cell {
  border: 1px solid #666666;
}

.display-cell {
  width: 10px;
  height: 10px;
  border: none;
}

.blank {
  background-color: white;
}

.filled {
  background-color: black;
}

.crossed {
  background-color: #cccccc;
}

.highlight-clue {
  color: #ff3300;
}

.left-border {
  border-left: 3px solid #666666;
}

.top-border {
  border-top: 3px solid #666666;
}

.button2 {
	background-color: $primary_color_200;
	padding: 10px 20px;
	border-width: 0;
	border-radius: 2px;

	text-transform: uppercase;
	color: $neutral_color_50;	
	display: inline-block;

	input[type=submit] {
		background-color: $primary_color_200;
		border-width: 0;
		border-radius: 2px;

		text-transform: uppercase;
		color: $neutral_color_50;
	}

	input[type=submit]:hover {
		background-color: $secondary_color_200;
	}

	input[type=submit]:active {
		background-color: $secondary_color_300;
	}
}

.button2:hover {
	background-color: $secondary_color_200;
}

.button2:active {
	background-color: $secondary_color_300;
}

.biggify {
  font-size: 15px;
}

.nonogram-button {
	width: 70px;
	margin: 10px auto;

	input[type=submit] {
		background-color: $primary_color_200;
		padding: 10px 20px;
		border-width: 0;
		border-radius: 2px;

		text-transform: uppercase;
		color: $neutral_color_50;
	}

	input[type=submit]:hover {
		background-color: $secondary_color_200;
	}

	input[type=submit]:active {
		background-color: $secondary_color_300;
	}
}

.nonogram-textfield {
	width: 350px;
	margin: 20px auto;

	input[type=text] {
		text-align: center;
		width: 350px;
		padding: 10px 5px;
		font-family: Questrial;
		font-size: 18px;
	}
}

.nonogram-title {

	input[type=text] {
		font-size: 25px;
	}
}