<% if user_signed_in? %>
  <meta property="currentUserName" content="<%= current_user.name %>">
<% end %>

<div id="chat" class="chat-text-area card well" data-uri="<%= request.host %>:<%= request.port %>/websocket">



</div>


