<meta property="currentUserName" content="<%= @current_user.name %>">
<meta property="currentUserId" content="<%= @current_user.id %>">
<div id="chat" class="chat-text-area card well" data-uri="<%= request.host %>:<%= request.port %>/websocket">



</div>


